<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>


<%= form_with model: @user, url: user_path, local:true do |book| %>
<div class="text-center">
  
  <h2>User info</h2>

  <h4>name</h4>
  <%= book.text_field :name %>

  <h4>image</h4>
  <%= book.attachment_field :profile_image %>

  <h4>Introduction</h4>
  <%= book.text_area :introduction %>

  <%= book.submit "Update User", class: "btn btn-secondary" %>
  
</div>


<% end %>