<% if @new.errors.any? %>
  <%= @new.errors.count %>error prohibited this obj from being saved:
  <% @new.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>


<div class="container">
  <div class="row">
    
    <!--######################################################-->
    
    <div class="col-md-3">
    <%= render 'users/profile', user: @user %>
    
    <%= render 'books/new', books: @new %>
    </div>
    
    <!--######################################################-->

    <div class="col-md-8 offset-md-1">
    <h2>Books</h2>
    <%= render 'books/index', books: @books %>
    </div>

    <!--######################################################-->

  </div>
</div>